body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
body{
	background: #a3e4fe;
	padding-bottom: 16px;
}
a, a:hover, a:visited, a:link, a:active {
    text-decoration:none;
    outline: none;
	box-sizing: border-box;
}
.body1{
	background: #fea3a9;
}
.bg img{
	display: block;
	background-size: 100% 100%;
	width: 100%;
}
.text{
	font-family: PingFangSC-Semibold, sans-serif;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	transform: translate(-50%, 0);
	left: 50%;
	line-height: 30px;
	color: #65adff;
}
.text1{
	color: #ff7d99;
}
.btn{
	position: absolute;
	margin: 0 auto;
	transform: translate(-50%, 0);
	left: 50%;
}
.btn a img{
	height: 61px;
	width: 286px;
	border: none;
	padding-top: 12px;
}

@media screen and (max-width:360px) {
.text{
	font-family:'FZPWJW';
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	transform: translate(-50%, 0);
	left: 50%;
	line-height: 26px;
	color: #65adff;
}
.text1{
	color: #ff7d99;
}
.btn a img{
	height: 50px;
	width: 234px;
	border: none;
	padding-top: 12px;
}
}
