body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
html {
    font-family: Helvetica, sans-serif;
	font-size: 14px;
}
body{
	background: #fff;
}
table{  
	border-collapse:collapse;  
	border-spacing:0;  
}
.ym-title{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 16px 0;
	color: #333;
}
.ym-table{
	padding: 0 16px;
	padding-bottom: 16px;
}
.ym-table table{
	background: #fff;
	width: 100%;
	table-layout: fixed;
}
.ym-table table th{
	font-size: 12px;
	height: 32px;
	border:0.05rem solid #eaeaea;
	font-weight: 400;
	color: #333;
	line-height: 14px;
	background: #eef6ff;
	padding: 4px 0;
	word-wrap:break-word;
}

.ym-table table td{
	font-size: 12px;
	height: 32px;
	padding: 0 4px;
	word-wrap:break-word;
	border:0.05rem solid #eaeaea;
	color: #666;
	line-height: 15px;
	text-align: center
}
	