* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #f0f0f0;
    width: 100%;
    max-width: 640px;
    margin: auto
}
.content{
	text-align: center;
	margin-top: 50%;
}
.content img{
	width: 64px;
	height: 64px;
}
.content p{
	padding: 0 32px;
	font-size: 13px;
	color: #626262;
	padding-top: 16px;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    text-decoration: none;
}
.btn {
    display: block;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 32px 16px 0 16px;
    background: #4a90e2;
    line-height: 40px;
    border-radius: 2px;
}