.details-title{
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	border-bottom: 0.05rem solid #eee;
	padding-left: 16px;
}

.details-list ul li{
	font-weight: bold;
	border-bottom: 0.05rem solid #eee;
	padding: 8px 0;
	clear: both;
}

.details-list a{
	display: block;
	color: #333;
	background: url(../img/link-arrow.png) no-repeat right center;
	background-size: 11px 11px;
	margin-right: 8px;
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
	
}
.details-list a p{
	color: #999;
	font-size: 12px;
	font-weight: normal;
}
.details-list img{
	display: block;
	width: 16px;
	margin-left: 16px;
	margin-right:8px;
	float: left;
	padding-top: 1px;
}