.details-title{
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
}

.details-list ul li{
	font-weight: bold;
	border-bottom: 0.05rem solid #eee;
	padding: 8px 0;
	clear: both;
}

.details-list a{
	display: block;
	color: #333;
	background: url(../img/link-arrow.png) no-repeat right center;
	background-size: 11px 11px;
	margin-right: 8px;
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
	
}
.details-list a p{
	color: #999;
	font-size: 12px;
	font-weight: normal;
}
.details-list ul li i{
	display: inline-block;
	float: left;
	width: 14px;
	height: 14px;
	margin: 3px 8px 0 16px;
}
.details-list ul li i.icon-standard{
	background: url(../img/icon-standard.png) no-repeat;
	background-size: 100%;
}
.details-list ul li i.icon-substandard{
	background: url(../img/icon-substandard.png) no-repeat;
	background-size: 100%;
}

