.details-list-title{
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
}
.content-tag{
	padding: 0 12px;
}
.content-tag p{
	line-height: 40px;
	font-weight: bold;
}
.content-tag p span{
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 10px;
	background: #23b3fe;
	margin-right: 6px;
	margin-bottom: 2px;
}
.content-tag ul{
	border:0.05rem solid #eaeaea;
	margin-bottom: 16px;
	padding: 0 12px;
}
.content-tag ul li{
	line-height: 40px;
	font-size: 13px;
	border-bottom:0.05rem solid #eaeaea;
}
.content-tag ul li:last-child{
	border-bottom:none;
}
.content-tag ul li i{
	display: inline-block;
	position: relative;
	top: 14px;
	float: right;
	width: 14px;
	height: 14px;
}
.content-tag i.icon-standard{
	background: url(../img/icon-standard.png) no-repeat;
	background-size: 100%;

}
.content-tag i.icon-substandard{
	background: url(../img/icon-substandard.png) no-repeat;
	background-size: 100%;
}

.table-container{
	margin: 0 12px;
	-webkit-overflow-scrolling: touch;
}
.table-container table{
	background: #fff;
	width: 100%;
	table-layout: fixed;
}
.table-container table th{
	font-size: 12px;
	height: 32px;
	border:0.05rem solid #eaeaea;
	font-weight: 400;
	color: #666;
	text-align: center;
	line-height: 14px;
	background: #eef6ff;
	padding: 4px 0;
}
.table-container table tr:nth-child(odd) {
	background: #f9fcff
}
.table-container table td{
	font-size: 12px;
	height: 32px;
	padding: 0 4px;
	word-wrap:break-word;
	border:0.05rem solid #eaeaea;
	color: #333;
	line-height: 15px;
}
.table-container table td.zi-left{
	text-align: left;
}
.table-hint{
	padding-top: 16px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
}
.table-hint span{
	font-weight: normal;
	color: #666;
}
.table-hint p{
	padding-top: 16px;
	font-weight: normal;
	text-align: right;
}
