body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
ul{
	display: block;
	list-style:none;
}

.layui-tab-title{
	overflow: hidden;
	background: #fff;
	height: 44px;
	line-height: 44px;
	text-align: center;
	width: 100%;
	position: relative;
	left: 0;
	white-space: nowrap;
}
.layui-tab-title li{
	font-size: 15px;
	color: #666;
	padding: 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	position: relative;
	line-height: 40px;
	text-align: center;
	cursor: pointer
}

.layui-tab-title .layui-this{
	color: #ff6600;
	font-weight: bold;
}

.layui-tab-item {
	display: none
}
.layui-show {
	display: block !important
}
