* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #f0f0f0;
    width: 100%;
    max-width: 640px;
    margin: auto
}

a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    text-decoration: none;
}
ul {
    display: block;
    list-style: none;
}
.content_title{
	line-height: 32px;
	padding: 8px 0px 8px 16px;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	background: #FFF;
}

.content_list {
	padding-top: 8px;

    background: #fff;
}

.content_list li {
    margin-left: 16px;
    background: #fff;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}

.content_list li a {
    font-size: 14px;
    color: #333;
    display: block;
}
.content_list li a p{
	padding: 8px 0;
	display: inline-block;
	line-height: 20px;
}
.content_list li a p span{
	font-size: 12px;
	color: #999;
}

.content_list li a em {
	margin-top: 21px;
    margin-right: 16px;
    float: right;
    height: 14px;
    width: 8px;
    background: url(../images/ChevronRight.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}
.btn{
	position: fixed;
	left: 0;
	bottom:0; 
	width: 100%; 
	font-size: 16px;
	line-height: 48px;
	color: #fff;
	text-align: center;
	background: #4a90e2;
}