*{margin:0; padding:0;}
html{
    font-family: Helvetica;
}
body{
    background-color: #f0f0f0;
    width: 100%;
    max-width: 677px;
    margin: auto
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    text-decoration: none;
	}
.banner{
    height: 128px;
    background-color: #189822;
}
.banner img{
    width:320px;
    position:absolute;
    left:50%;
    margin-left:-160px;
}
.content{
    margin: 16px 16px 0 16px;
    height: 104px;
}
.content_left{
    height: 104px;
    width: 50%;
    float: left;
}
.content_right{
    height: 104px;
    width: 50%;
    float: right;
}
.content_left a{
	display: block;
	height: 104px;
	margin-right: 8px;
	background: #fff;
	border-radius: 4px;
	box-shadow:0px 2px 4px rgba(160,160,160,0.2);
	text-align: center;
	font-size: 12px;
	color: #333333;
	word-wrap: break-word;
	word-break: normal;
}
.content_right a{
	display: block;
	height: 104px;
	margin-left: 8px;
	background: #fff;
	border-radius: 4px;
	box-shadow:0px 2px 4px rgba(160,160,160,0.2);
	text-align: center;
	font-size: 12px;
	color: #333333;
}

.content_left a img,.content_right a img{
	width: 30px;
	margin-top: 20px;
	margin-bottom: 12px;
}

.hint-save{
    margin-top: 60px;
    text-align: center;
    line-height: 1.5em;
    font-size: 12px;
    color: #666;
}