.title{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fc7070;
	line-height: 24px;
	padding-top: 16px;
}
.title p{
	font-size: 14px;
	color: #666;
	font-weight: normal;
}
.table-container{
	background: #ffffff;
	padding: 0 0 12px 0;
}
.table-container table{
	width: 100%;
}
.table-title{
	text-align: center;
	padding: 24px 0 8px 0;
	font-size: 14px;
	font-weight: bold;
}
.table-container table th{
	border:0;
	border-top: none;
	font-size: 12px;
	padding: 4px;
	color: #333;
}
.table-container table td{
	width: 25%;
	border:0;
	border-top: none;
	font-size: 12px;
	padding: 4px 12px;
	text-align: left;
	color: #666;
}
.table-container table td i{
	display: inline-block;
	margin-bottom: -2px;
	margin-left: 4px;
	width: 11px;
	height: 11px;
	border:1px solid #666;
}
.table-container table td i:first-child{
	margin-left: 24px;
}
.table-container table th:first-child,.table-container table td:first-child{
	border-right: 1px solid #999;
}
.footer{
	padding: 12px;
	margin-top: 16px;
	font-size: 12px;
	color: #333;
}
.footer ul li{
	display: inline-block;
}
.footer ul li:first-child{
	display: block;
	margin-bottom: 80px;
}
.footer ul li:last-child{
	float: right;
	margin-right: 40px;
}