
.list{
	padding-bottom: 32px;
}
.title{
	padding: 16px 16px 0 16px;
}
.title img{
	display: block;
	height: auto;
	width: 100%;
	border-radius: 6px;
}
.list ul li{
	margin-left: 16px;
}
.list ul li a{
	display: block;
	background: url(../img/link-arrow.png) no-repeat right center;
	background-size: 23px 12px;
	border-bottom: 1px solid #e6e6e6;
	padding: 12px 56px 12px 14px;
	color: #666;
}
.list ul li a.menu{
	font-weight: bold;
	color: #333;
	padding-left: 0;
}
