body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica, sans-serif;
	font-size: 14px;
}
body{
	background: #1c202a;
}
a, a:hover, a:visited, a:link, a:active {
    text-decoration:none;
    outline: none;
	box-sizing: border-box;
}
.title{
	margin: 32px 60px;
	margin-bottom: 16px;
}
.title img{
	display: block;
	height: auto;
	width: 100%;
}
.map{
	margin: 24px 16px;
}
.map img{
	display: block;
	height: auto;
	width: 100%;
}

.select_city{
	color: #c5cfd5;
	margin: 0 16px;
}
#expressArea p{
	background: #222838;
	border: 1px solid #2e3c56;
	font-size: 14px;
	line-height: 48px;
	margin-top: 8px;
	width: 100%;
	color: #c5cfd5;
	text-align: center;
}
/*选择地区弹层*/
.express-area-box {
	position: fixed;
	bottom: -100%;
	z-index: 15;
	width: 100%;
	background-color: #222838;
	color: #c5cfd5;
}

.express-area-box header {
	position: relative;
	background-color: #2e3c56;
}

.express-area-box header p {
	text-align: center;
	font-size: 14px;
	line-height: 40px;
}

.express-area-box header .back,
.express-area-box header .close {
	position: absolute;
	top: 0;
	width: 38px;
	height: 40px;
}

.express-area-box header .back {
	display: none;
	left: 0;
	background: url(../img/back.png) no-repeat center;
	background-size: 12px 12px;
}

.express-area-box header .close {
	right: 0;
	background: url(../img/close-area.png) no-repeat center;
	background-size: 12px 12px;
}

.express-area-box article {
	height: 250px;
	overflow-y: scroll;
}

.area-list li {
	padding: .5rem;
	border-bottom: 1px solid #2e3c56;
	text-align: justify;
	font-size: 14px;
	line-height: 20px;
}
/*遮罩层*/
.mask {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 12;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}
.btn_sure {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.btn_sure a{
	margin: 0 16px;
	margin-bottom: 24px;
	display: block;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
	background: #3fc3fd;
	line-height: 48px;
	border-radius: 2px;
}
